.taskPending {
  border: 0;
  background: #828282;
  cursor: pointer;
  margin: 5px 0px;
  outline: none;
  color: #e0e0e0;
  height: 3em;
  border-radius: 0.8em;
  padding-right: 1em;
  width: 62vw;
  font-size: 18px;
}

.taskCompleted {
  border: 0;
  background: rgba(130, 130, 130, 0.55);
  cursor: pointer;
  margin: 5px 0px;
  outline: none;
  color: #e0e0e0;
  text-decoration-line: line-through;
  height: 3em;
  border-radius: 0.8em;
  padding-right: 1em;
  width: 62vw;
  font-size: 18px;
}

.deleteButton {
  float: right;
  z-index: 10;
}

.deleteButton:hover {
  background: #e0e0e0;
}
