.main {
  width: 100%;
  min-width: 500px;
  height: 100%;
  min-height: 400px;
  background: #4f4f4f;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
}

.collectionFlex {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  list-style: none;
  margin: 15vh 5vw;
}

.collectionElement {
  background: grey;
  width: 15vw;
  height: 10vw;
  border-radius: 1vw;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: 0;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.collectionElement:hover {
  background: rgb(68, 68, 68);
}

.iconContainer {
  width: 2.2em;
  height: 2.2em;
  border-radius: 0.5em;
  /* border-style: solid;
  border-width: 0.05em; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8em;
}

.addIcon {
  background: crimson;
  margin: 0;
}
