.sideBarBody {
  background: #828282;
  width: 25%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.collections {
  list-style-type: none;
}

.collectionItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0.5em auto;
  padding: 0.5em 2em;
  font-size: 20px;
}

.itemSelected {
  background: #4f4f4f;
}

button {
  cursor: pointer;
}

.iconContainer {
  width: 2.2em;
  height: 2.2em;
  border-radius: 0.5em;
  /* border-style: solid;
  border-width: 0.05em; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8em;
}

.addNew {
  position: absolute;
  bottom: 2.5em;
  left: 3.5em;
  width: 100%;
  background: none;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
  outline: none;
}

.iconContainerAdd {
  width: 2.2em;
  height: 2.2em;
  border-radius: 0.5em;
  /* border-style: solid;
  border-width: 0.05em; */
  background: #eb5757;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.8em;
  font-size: 20px;
  font-weight: 900;
}

.sideBarTitle {
  margin-left: 1em;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1em;
}

.collectionDelete {
  margin-left: auto;
  display: none;
}

.collectionItem:hover .collectionDelete {
  display: block;
}
